/* global */
* {
    background: unset;
    text-decoration: unset;
    color: unset;
    font-size: 1em;
}

#view-container {
    padding: 0.6em;
}

#navigation-button {
    background-color: #2b2b2b;
    margin: 0.2em;
    border-radius: 0.4em;
    font-size: 2em;
}

#navigation-button--selected {
    margin: 0.2em;
    border-radius: 0.4em;
    font-size: 2em;
    background-color: #ff5a00;
}

#submit-button {
    padding: 0;
}

#submit-button--selected {
    padding: 0;
    background-color: #ff5a00;
}

label {
    padding: 1em 0;
}

/* generate_seed_input_view */
#input-view__entropy-entry {
    padding: 0 1em;
}

#input-view__num-button--selected {
    background-color: #ff5a00;
}

#input-view__check-button--selected label {
    color: #ff5a00;
}

/* generate_seed_confirmation_view */
#confirmation-view__button {
    margin: 0 1em;
}

#confirmation-view__button--selected {
    margin: 0 1em;
    background-color: #ff5a00;
}

/* wallet_address_view */
#wallet-address-view__label {
    font-size: 2em;
}
